@model ProjektniZadatak.Models.Reservation

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.multidatespicker.css" rel="stylesheet" />

@section Scripts{
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery-ui.multidatespicker.js"></script>
    <script>
        var date = new Date();
        $(document).ready(function () {

            var date = new Date();

            $("#datepick").multiDatesPicker({
                separator: ",",
                dateFormat: "dd-mm-yy",
                //addDates: [date.setDate(9)],
                //addDisabledDates: [date.setDate(25)],
                toggleDate: [date.setDate(13)]
            });

        });

    </script>
}

<br />

<form action="/" method="post">
    <div class="form-horizontal">

        <div class="form-group">
            <input style="min-width:145px" class="btn btn-info" id="datepick" readonly type="text" autocomplete="off" name="registrationTime" value="@ViewBag.registrationTime" />
        </div>

    </div>
</form>