@model IEnumerable<ProjektniZadatak.Models.Reservation>

@{
    ViewBag.Title = "ViewReservations";
}

@{
    if (Session["User"] is null || Model is null)
    {
        Response.Redirect("~/User/Index");
        return;
    }
}

<h2>Reservations</h2>


<table class="table">
    <tr>
        <th>
            Reservation start
        </th>
        <th>
            Number of nights
        </th>
        <th>
            Total price
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.ReservationStartDate.ToShortDateString()
            </td>
            <td>
                @item.NumberOfNights
            </td>
            <td>
                @item.TotalPrice
            </td>
            <td>
                @item.Status
            </td>
            <td>
                @if (Session["User"] is ProjektniZadatak.Models.Guest)
                {
                    if (item.Status == ProjektniZadatak.Models.ReservationStatus.Created || item.Status == ProjektniZadatak.Models.ReservationStatus.Accepted)
                    {
                        <a href="~/Reservation/AbortReservation/@item.Id">Cancel reservation</a>
                    }
                }
                @if (Session["User"] is ProjektniZadatak.Models.Host)
                {
                    if (item.Status == ProjektniZadatak.Models.ReservationStatus.Created)
                    {
                        <a href="~/Reservation/Accept/@item.Id">Accept reservation</a>
                    }

                    if (item.Status == ProjektniZadatak.Models.ReservationStatus.Created || item.Status == ProjektniZadatak.Models.ReservationStatus.Accepted)
                    {
                        <a href="~/Reservation/Reject/@item.Id">Reject reservation</a>
                    }

                    if (item.ReservationStartDate.AddDays(item.NumberOfNights) >= DateTime.Now)
                    {
                        <a href="~/Reservation/End/@item.Id">Complete reservation</a>
                    }
                }
            </td>
        </tr>
    }

</table>
