@model ProjektniZadatak.Models.Comment

@{
    ViewBag.Title = "DetailComment";
}

<h2>DetailComment</h2>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Text
        </dt>

        <dd>
            @Model.Text
        </dd>

        <dt>
            Rating
        </dt>

        <dd>
            @Model.Rating
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
